

/* Navigation CSS */
#myNav
{
  width: 100%; /* Set to 100% of container width */
  min-width: 100%; /* Minimum width 100% */
  display:flex; /* Flexible layout option for child element */ 
  justify-content: center; /* Aligns child elements horizontally at the center of element */
}

#customNav 
{
  z-index: 1; /* Sets #customNav to top */
}

html, body /* Sets style properties for HTML & body */
{
  height:100%; /* HTML & Body take full height of browser window */
  min-height:100%; /* Sets minimum height to 100% */
  font-family: 'Roboto'; /* Sets font to Roboto */
}

#myNav /* More specific setting for #myNav when using <body> */
{
  width: 100%;
}
body /* Set body to dark green color */
{
  background-color: rgb(16, 27, 21);
  margin:0; /* Set body to dark green color */
  overflow-y: auto;
  position: relative;
}

.nav-link, .navbar-brand, #myNav /* Sets text color and BG color */
{
  color:rgb(196, 239, 215);
  background-color:rgb(7, 12, 9);
}

.navbar-brand /* Text & Font specifications */
{
  color:white; 
  font-family: 'Roboto';
  font-weight: bold;
  
}

/* change navbar-toggler inside lines color (stroke) */
/* Settings for hamburger icon when screen is smaller (??) */
.navbar span.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='yellow' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  color: white;
}

/* change hamburger button border color */
.navbar button.navbar-toggler {
  border-color: white;
}

.searchBar {
  width: 15%; /* Set to 15% of container width */
  display: flex; /* Flexible layout option for child element */ 
  flex-direction: row; /* Element arranged from left to right */ 
  margin-left: -3rem;
}

#search-form {
  display: flex;
  align-items: center;
  position:relative;
}

#search-movies {
  width: 100%;
  height: 1.5rem;
  background-color: rgba(123, 144, 132, 0.3);
  outline: none;
  border: none;
  border-radius: 1.625rem;
  color: rgb(103, 128, 115);
  padding: 0 2.5rem 0 .9rem;
  font-size: 0.7rem;
  transition: 0.3s;
}

.cuteyBar-button {
  width: 1.8rem;
  height: 1.8rem;
  border: none;
  border-radius: 50%;
  background-color: rgba(196, 239, 215);
  cursor: pointer;
  margin-left: 0.3rem;
}

.cuteyBar-button svg {
  fill: rgb(123, 144, 132);
  width: 1.2rem;
  height: 1.2rem;
}



/* Change color for link in Navigation */
.nav-link:hover {
  color:yellow;
}

/* Change color on hover */
.navbar-brand:hover {
  color:white;
}

/* Change color on click - As being clicked */
.nav-link:active {
  color:yellow;
}

/* Set logo size */
#brandlog {
  width: 23px;
  height: 23px;
}

/* Give a little transitional delay / flair */
.nav-link 
{
  transition: 0.3s;
}


/* Aligns footer and sets color */
.footer {
  background-color: rgb(37, 66, 48);
  width: 100%;
  height: 2.5rem;
  position: sticky;
  bottom: 0;
  align-items: center;
}

/* Aligns footer text */
.footertext {
  margin: 0 auto;
  top: 10px;
  width: 725px;
}

/* Style for footer */
.footertitle {
  color:rgb(170, 255, 227);
  position: absolute;
  align-self: center;
  display: flex;
}

/* Style for movie title on results.php page. Makes sure that it doesn't have blue underline */
.link {
  color: rgb(7, 12, 9);
  text-decoration: none;
}

/* Style for movie title on results.php page. Changes on hover */
.link:hover {
  color: rgb(46, 74, 59);
  font-weight: normal;
}

.movie-item:hover {
  background-color: rgb(142, 182, 160);
}

/* Style for div on explore page with movie poster on top */
/* Used for explorefunctions.js as container to display top movie posters*/
#poster-container {
  padding: 10px;
  margin: 0 auto;
  margin-bottom: 5px;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  width: 65%; /* Sets the width of the element to 100% of the parent element */
}


/* Padding for poster on hover on explore page */
/* Used for explorefunctions.js to give spacing between poster images*/
#poster-container a {
  padding: 3px;
}

#poster-container a img {
  border: 1px solid rgb(46, 74, 59);
  border-radius: 3px;
  display: inline-block;
  max-width: 100%;
  max-height: 100%;
  transition: filter 0.3s ease-out;
}

/* Style for poster on hover on explore page */
/* Used for explorefunctions.js to change the poster border on hover*/
#poster-container a img:hover {
  border: 1px solid rgb(115, 148, 130);
  max-width: 100%;
  max-height: 100%;
  filter: brightness(1.2);
}


.review-item {
  background-color: pink;
  padding: 10px;
  margin: 0 auto; /* Centers results horizontally */
  margin-bottom: 5px;
  border: 1px solid black;
  border-color: rgb(187, 241, 212, 0.4);
  border-top-color: rgb(170, 255, 227);
  display: flex;
  width: 51%;
  box-sizing: border-box;
  transition: background-color 0.3s ease-out; /* Adds a 0.3s transition effect */
  overflow: hidden; /* Prevents content from overflowing outside the element */
  max-height: 600px; /* Sets the maximum height of the element */
}


/* Style for movie results */
/* Styled container for results.php */
/* Used on movie-details.php & more */
.movie-item {
  background-color: rgb(115, 148, 130);
  padding: 10px;
  margin: 0 auto; /* Centers results horizontally */
  margin-bottom: 5px;
  border: 1px solid black;
  border-color: rgb(187, 241, 212, 0.4);
  border-top-color: rgb(170, 255, 227);
  display: flex;
  width: 51%;
  box-sizing: border-box;
  transition: background-color 0.3s ease-out; /* Adds a 0.3s transition effect */
  overflow: hidden; /* Prevents content from overflowing outside the element */
  max-height: 600px; /* Sets the maximum height of the element */
}

/* Style for box of the backdrop movie image. The cool big one. */
.cool-image {
  padding: 10px;
  margin: 0 auto;
  margin-bottom: 5px;
  display: flex;
  width: 51%;
  box-sizing: border-box;
  transition: background-color 0.3s ease-out, box-shadow 0.3s ease-out;
  overflow: hidden;
  max-height: 600px;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.3); /* Initial box shadow */
}


/* Sets size of movie poster */
/* Makes it so that movie poster is on right */
/* Used for results.php and used for movie-details.php */
.poster {
  max-width: 200px !important;
  max-height: 300px !important;
  margin-right: 10px;
}

/* Sizing/margins for the backstop movie image that goes in .cool-image */
/* Used for movie-details.php */
#backdrop-image {
  width: 100%; /* Or whatever width you want to set */
  height: auto; /* Automatically adjusts the height to preserve aspect ratio */
  transition: filter 0.3s ease-out; /* Adds a 0.3s transition effect */
}

/* Hover effect for the backstop movie image that goes in .cool-image */
/* Used for movie-details.php */
#backdrop-image:hover {
  filter: brightness(85%);
}

/* Style for movie results */
/* Styled container for results.php */
/* Makes sure that the images are "full size" - 200 x 300 px */
.movie-item img {
  max-width: 100%;
  max-height: 100%;
}

/* Makes movie-info a flexible container */
/* Styles text for the movie information in the movie-item container, called movie-info  */
/* Style for movie results - The text stuff inside the movie-item container. */
/* Used in results.php and movie-details.php */
.movie-info {
  font-size: .7rem; 
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  box-sizing: border-box;
}

/* Styles text for the movie information in the movie-item container, called movie-info  */
/* Style for type of information - Like year, genre, actors, etc. */
/* Used in results.php and movie-details.php */
/* Sets span tags in javascript to bold */
.movie-info span {
  font-weight: bold;
}


/* Styles text for the movie information in the movie-item container, called movie-info */
/* Sets margin bottom of 10 pixels to all child elements */
/* The > is for all direct child elements of movie-info */
/* The * is to select all child elements regardless of tag name */
/* Any elements within the movie-info class will have 10px margin */

.movie-info > * {
  margin-bottom: 10px;
}

/* Styles text for the movie information in the movie-item container, called movie-info  */
/* The > is for all direct child elements of movie-info */
/* h4 header within the movie-info class will have 0 margin */
/* Changes all h4 parameters within movie-info*/

.movie-info > h4 {
  margin-bottom: 0;
}

/* Styles text for the movie information in the movie-item container, called movie-info  */
/* Makes it so that the text changes/wraps to fit in space */
.info-wrapper {
  flex: 1;
}

/* Text in result ID will have flex container */
/* Makes it so that the elements in the results wrap onto new lines */
/* Style for movie results - The text stuff inside the movie-item container. */
/* Used in results.php and movie-details.php */
#results {
  display: flex;
  flex-wrap: wrap;
}

/* Styles text for the options in the movie-item container, called movie-actions */
/* Refers to like, comment, rate, etc. */
.movie-actions {
  bottom: 0;
  left: 0;
  font-size: .7rem;
  margin-top: 20px;
}

/* Used for movie-details.php page. */
.rating {
  font-size: 0;
}

/* Style for star for ratings. */
/* Used for movie-details.php page. */

.star {
  display: inline-block;
  font-size: 30px;
  color: #888677;
  cursor: pointer;
}


/* Style for star for ratings. */
/* Used for movie-details.php page. */
.star:hover,
.star.selected {
  color: #ffcc00;
}

.boxxy-thing {
  display: flex;
  width: 100%;
  padding: 2px;
  margin: 0 auto;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  width: 51%;
  flex-grow: 1;
}

/* Make a little line to separate stuff. */
.line-thing {
  border-top: 1px solid rgb(173, 223, 207);
  display: flex;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 5px;
  margin: 0 auto;
  margin-bottom: 5px;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  width: 51%;
  flex-grow: 1;
  position: relative; /* add position property */
}

.colored-text {
  color: rgb(154, 223, 200);
  position: absolute;
  font-family: 'Roboto';
  bottom: -20px; /* adjust this value to position the text as desired */
}

.autocomplete {
  /*the container must be positioned relative:*/
  position: relative;
  display: inline-block;
}
input {
  border: 1px solid transparent;
  background-color: #f1f1f1;
  padding: 10px;
  font-size: 16px;
}
input[type=text] {
  background-color: #f1f1f1;
  width: 100%;
}
input[type=submit] {
  background-color: DodgerBlue;
  color: #fff;
}
.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}
.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
}
.autocomplete-items div:hover {
  /*when hovering an item:*/
  background-color: #e9e9e9;
}
.autocomplete-active {
  /*when navigating through the items using the arrow keys:*/
  background-color: DodgerBlue !important;
  color: #ffffff;
}


.section-label-thing {
  display: flex;
  color:rgb(154, 223, 200);
  width: 100%;
  padding: 10px;
  margin: 0 auto;
  margin-bottom: 5px;
  flex-wrap: nowrap;
  align-items: center;
  width: 51%;
  flex-grow: 1;
  position: relative;
}

.reviewHeader {
  display: flex;
  position: absolute;
  top: 0px;
  left: 0px;
  color:rgb(154, 223, 200);
  z-index: 2;
}